@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootflat/bootflat/scss/bootflat';

html, body {
  width: 100%;
  height: 100%;
  background-color: #f1f2f6;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
  background-color: $aqua-light;
}

.form-center {
  background-color: $lightgray-light;
  border-radius: $border-radius-large;
  box-shadow: $carousel-text-shadow;
  margin: auto;
  padding: $padding-base-vertical;
}

.message {
  background-color: $white;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  @include radius($type: border-radius, $value: $timeline-radius);

  &--image {
    padding: 6px;
    border-radius: 4px;
    margin-right: 20px;
  }

  &--title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 800;
    min-width: 14rem;
  }

  &--time {
    font-size: 1.25rem;
    font-style: italic;
  }

  &--text {
    font-size: 1.5rem;
  }

  ::after {
    $arrow-width: 11px;
    $arrow-height: 8px;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: $arrow-height $arrow-width $arrow-height 0;
    border-color: transparent $white;
    display: block;
    width: 0;
    z-index: 1;
    left: -$arrow-width;
    top: $arrow-height - 2px;
  }
}
