<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/main.styles.css') }}"/>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    {% if app.environment == 'dev' %}
    <script src="{{ asset('webpack-dev-server.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/js/main.bundle.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
