{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Message list</h1>
      {{ render_esi(controller('AppBundle:Message:index')) }}
    </div>
  </div>
  <h1>{{ username }}'s message</h1>
  {{ render_esi(controller('AppBundle:Message:new')) }}
</div>
{% endblock %}

{% block javascripts %}
<script>
(function() {
  document.getElementById('chat_msg_sender').setAttribute('value', '{{ username }}');
})();
</script>
{% endblock %}
