{% extends 'base.html.twig' %}

{% block body %}
<div class="form-wrapper">
  <form action="{{ path('chatpage') }}" class="form-center">
    {% for message in app.flashes('warning') %}
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-warning">
          <strong>{{ message }}</strong>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="form-group">
      <label for="username">Username: <input class="form-control" id="username" name="username" type="text"></label>
    </div>
    <div class="from-group">
      <button class="btn btn-primary" type="submit">Join</button>
    </div>
  </form>
</div>
{% endblock %}
