{{ form_start(form) }}
  <div class="form-group">
    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    <input class="btn btn-info btn-lg pull-right" type="submit" value="Send" />
  </div>
{{ form_end(form) }}
