<dd class="message" id="message_{{ message.id }}">
  <div class="message--image">
    <img src="{{ message.sender|identicon }}" alt="Identicon of {{ message.sender }}">
  </div>
  <div class="message--body">
    <strong class="message--title">{{ message.sender }}</strong>
    <time class="message--time" datetime="{{ message.sentAt|date('Y-m-d\\Th:i:s') }}">{{ message.sentAt|time_ago }}</time>
    <p class="message--text">{{ message.message|nl2br }}</p>
  </div>
</dd>
